/* BASE STYLES */

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  background-image: url("https://images.unsplash.com/photo-1583795484071-3c453e3a7c71?ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=100");
  background-position-y: -350px;
  background-position-x: -200px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.links {
  display: flex;
}

.link-item {
  list-style: none;
  margin-left: 15px;
}

.link {
  text-decoration: none;
  color: rgba(255,255,255,0.75);
  transition: color 300ms;
}

.link:hover {
  color: rgba(255,255,255,1);
}